* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

.head {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  justify-items: end;
  align-items: center;
}

.intro {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 54px;
  cursor: default;
}

.me {
  width: 300px;
  justify-self: baseline;
  // margin-right: 15rem;
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
    transform: scale(5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.sparkle-container {
  position: relative;
  display: inline-block;
}

.sparkle {
  position: absolute;
  width: 5px;
  height: 5px;
  background: gold;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  animation: sparkle 1s ease-out infinite;
}

.word:hover .sparkle {
  opacity: 1;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.portfolio__header {
  font-size: 36px;
  font-weight: 500;
  cursor: pointer;
}

.portfolio__header:nth-child(odd) {
  justify-self: end;
}

.underline {
  text-decoration: underline;
}
